body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  height: 800px;
  background-image: url("Banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: black;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

.center-button {
  position: absolute;
  font-size: 20px;
  border-radius: 45px;
  bottom: 140px;
  border: 3px solid black;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  font-size: 20px;
  height: 60px;
  width: 220px;
}

.course-container {
  background-color: #e3ebf3;
  height: 686px;
  color: black;
}

.course-container h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 15px;
}

.course-container p {
  font-size: 32px;
}

.course-container p,
.about-us-container p {
  margin: 0 15px;
}

.course-container .order {
  display: flex;
  justify-content: center;
}

.course-container li {
  text-align: left;
  font-size: 32px;
  margin-bottom: 10px;
}

.price-container {
  background-color: #8eb2d0;
  padding: 20px;
}

.price-container h1 {
  font-size: 36px;
  text-align: center;
}

.price-container h2 {
  font-size: 28px;
  text-align: center;
}

.price-container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-card {
  width: calc(50% - 30px);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 45px;
  margin: 10px;
  font-size: 24px;
  box-sizing: border-box; /* add this property */
}

.price-card:hover {
  padding: 20px;
  background-color: #ebeef2;
}

.rectangle {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  background-color: #d26247;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.buy-button {
  width: 80%;
  max-width: 280px;
  height: 60px;
  border-radius: 45px;
  background-color: #d26247;
  font-size: 28px;
  color: white;
  margin-top: auto;
}


.buy-button:hover {
  background-color: #fff;
  color: #d26247;
}

.about-us-container {
  background-color: #e3ebf3;
}

.about-us-container h1 {
  text-align: center;
  font-size: 48px;
}

.about-us-container h2 {
  font-size: 32px;
  margin-left: 15px;
}

.about-us-container p {
  font-size: 32px;
}

.try-container {
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.try-container h1 {
  font-size: 48px;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 45px;
  border: 1px solid white;
  height: 80px;
  width: 450px;
  background-color: transparent;
  font-size: 32px;
}

input::placeholder {
  color: white;
}

.try-button {
  background-color: #d26247;
  color: #fff;
  border: 1px solid black;
  border-radius: 45px;
  cursor: pointer;
  width: 350px;
  height: 80px;
  font-size: 32px;
}

.try-button:hover {
  background-color: #fff;
  color: #d26247;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

footer {
  background-color: #e3ebf3;
  height: 307px;
  font-size: 24px;
}

footer .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 162px;
  background-color: #d26247;
  color: #fff;
  border-radius: 45px;
  margin: 40px;
}

.footer-rectangle p {
  margin: 25px;
}

footer .copyright {
  background-color: #d26247;
  color: #fff;
  border-radius: 45px;
  text-align: center;
  width: 575px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .price-card {
    width: 280px;
    height: 350px;
    margin: 50px;
    font-size: 36px;
  }

  .rectangle {
    font-size: 30px;
  }

  .buy-button {
    font-size: 32px;
  }

}

@media (max-width: 768px) {
  .container {
    height: 400px;
    width: 100%;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    height: 600px;
    width: 100%;
    background-size: contain;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 800px;
    width: 100%;
    background-size: contain;
  }
}
